.container-fluid
  .row
    .col-xl-3.col-md-4.col-sm-6
      .card.p-3.mt-3.shadow-none.bg-light
        .card-text.d-inline-block
          今日やること
        .small.text-muted
          作成者: 廣田勇気
        .card.mt-2.shadow-sm.dropdown
          = link_to "#" do
            .card-header
              アプリ開発
        .card.mt-2.shadow-sm.dropdown
          = link_to "#" do
            .card-header
              アプリ開発2
    .col-xl-3.col-md-4.col-sm-6
      .card.p-3.mt-3.shadow-none.bg-light
        .card-text.d-inline-block
          今日やること2
        .small.text-muted
          作成者: 廣田勇気
        .card.mt-2.shadow-sm.dropdown
          = link_to "#" do
            .card-header
              アプリ開発
        .card.mt-2.shadow-sm.dropdown
          = link_to "#" do
            .card-header
              アプリ開発2
    .col-xl-3.col-md-4.col-sm-6
      .card.p-3.mt-3.shadow-none.bg-light
        .card-text.d-inline-block
          今日やること3
        .small.text-muted
          作成者: 廣田勇気
        .card.mt-2.shadow-sm.dropdown
          = link_to "#" do
            .card-header
              アプリ開発
        .card.mt-2.shadow-sm.dropdown
          = link_to "#" do
            .card-header
              アプリ開発2


