.container-fluid
  .row
    - @lists.each do |list|
      .col-xl-3.col-md-4.col-sm-6
        .card.p-3.mt-3.shadow-none.bg-light
          .card-text.d-inline-block
            -# = link_to "#", data: {toggle: "modal", target: "#exampleModalCenter"} do
            = link_to list_path(list.id) do
              = list.title
            .card-text.d-inline-block.ml-1
              %div{id: "like_#{list.id}"}
                = render partial: 'likes/like', locals: { list: list }
            -# .modal.fade#exampleModalCenter{tabindex: "-1", role: "dialog", 'aria-labelledby': :"exampleModalCenterTitle", 'aria-hidden': :"true"}
            -#   .modal-dialog.modal-dialog-centered{role: "document"}
            -#     .modal-content
            -#       .modal-header
            -#         %h5.modal-title#exampleModalCenterTitle
            -#           = list.title
            -#         %button.close{type: "button", 'data-dismiss': :"modal", 'aria-label': :"Close"}
            -#           %span{'aria-hidden': :"true"}
            -#             %i.far.fa-window-close
            -#       .modal-body
            - if user_signed_in? && current_user.id == list.user_id
              .dropleft.float-right
                = link_to new_list_card_path(list.id) do
                  %i.far.fa-plus-square.mr-2
                = link_to "#", 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do
                  %i.fas.fa-ellipsis-h
                  .dropdown-menu
                    = link_to edit_list_path(list.id), class:"dropdown-item" do
                      リスト編集
                    = link_to list_path(list.id), method: :delete, class:"dropdown-item" do
                      リスト削除
          .small.text-muted
            = link_to user_path(list.user.id) do
              作成者: 
              = list.user.name
          %ul
            - list.cards.each do |card|
              %li.card.mt-2.shadow-sm.dropdown
                - if user_signed_in? && current_user.id == list.user_id
                  = link_to "#", 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do
                    .card-header
                      = card.memo
                    .dropdown-menu
                      = link_to list_card_path(list_id: list, id: card.id), method: :delete, class:"dropdown-item" do
                        カード削除
                - else
                  .card-header
                    = card.memo
    