!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Taskn
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header-title
        = link_to "/" do
          Taskn
      %ul.header-link
        %li.header-link__left
          = link_to "#" do
            リスト追加
        %li.header-link__left
          = link_to new_user_registration_path do
            ユーザー登録
        %li.header-link__right
          = link_to new_user_session_path do
            ログイン
    = yield
